<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="list-group">
    <a href="#" class="list-group-item">
      <div class="w-100">
        <h4 class="">Recipe Name</h4>
        <p class="">Description</p>
        <span class="">
          <img src="https://img.bestrecipes.com.au/RCK3slSo/h300-w400-cscale/br-api/asset/20771/super-easy-pizza-dough-recipe.jpg" alt="" class="img-responsive" style="max-height: 50px;">
        </span>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
